<% provide(:title, 'Home') %>

<h1>Find-a-Doc</h1>
<p>
  Find-a-Doc is a platform for finding physicians that are at the vicinity of the address input by the patient/user. The search can be customized with the symptoms of the patients to get specialists or if the disorder is already diagnosed, with the ICD-9 code of the disorder.
</p>